.total-container {
  width: max-content;
  height: auto;
  margin: 1.5rem auto;
  padding: 1.2rem;
  border-radius: 2rem;
  text-align: center;

  background: #118ab2;
  color: #fafafa;

  .message {
    font-size: 2rem;
  }

  .total {
    font-size: 3rem;
    font-weight: 700;
    color: #06d6a0;
  }
}
