nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: #073b4c;
  box-shadow: 0 1px 5px black;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    height: 100%;

    .brand {
      text-decoration: none;
      color: #fff;
      font-size: 2rem;
      font-weight: 700;
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;

      li {
        margin: 0 10px;
        height: 100%;

        a {
          text-decoration: none;
          color: #ffd166;
          font-size: 1.8rem;
          padding: 10px;
          transition: all 0.3s ease;

          &:active {
            background-color: opacify(#d4d3d391, $amount: 0);
            color: #01010196;
          }
        }
      }
    }
  }
}
