<nav class="">
  <div class="nav-container">
    <a class="brand" href="#">SH<span class="fas fa-home"></span>PPING-list</a>
    <ul>
      <li><a class="fas fa-home" routerLink="/"></a></li>
      <li>
        <a
          class="fas fa-plus"
          data-toggle="modal"
          data-target="#exampleModal"
        ></a>
      </li>
    </ul>
  </div>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div></div>
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Agrega un Producto</h3>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-product-form></app-product-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
