.form-container {
  width: 100%;
  margin: auto;
  padding: 1rem 1rem;

  @media (min-width: 500px) {
    max-width: 400px;
  }

  .form-control {
    height: 4rem;
    font-size: 1.6rem;
  }

  .btn {
    font-size: 1.6rem;
    background: #0096c7;
  }
}
