<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="">
      <label for="title" class="form-label">Artículo:</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
      />
    </div>
    <div class="">
      <label for="price" class="form-label">Precio:</label>
      <input
        type="text"
        class="form-control"
        id="price"
        formControlName="price"
      />
    </div>
    <div class="mb-3">
      <label for="quantity" class="form-label">Cantidad:</label>
      <input
        type="number"
        class="form-control"
        id="quantity"
        formControlName="quantity"
      />
    </div>

    <button
      class="btn btn-primary w-100"
      type="submit"
      [disabled]="form.invalid"
    >
      Agregar!
    </button>
  </form>
</div>
