<div>
  <app-total [message]="'Total por pagar:'" [total]="total"></app-total>
  <div *ngIf="products.length === 0">
    <h3 class="text-center">No hay productos en tu lista</h3>
  </div>
  <app-product
    *ngFor="let product of products"
    [product]="product"
    (deleteProduct)="deleteProduct($event)"
    (toggleProduct)="toggleProduct($event)"
  ></app-product>
</div>
