.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  // text-align: center;
  width: 100%;
  padding: 0 5px;

  &:hover {
    background-color: rgba(184, 184, 184, 0.822);
  }

  @media (min-width: 600px) {
    max-width: 800px;
    margin: 0 auto;
  }
}

.completed {
  text-decoration: line-through;
  color: #ccc;

  .total {
    color: #ccc;
  }
}

div {
  padding: 5px 0;
}

.title {
  display: flex;
  padding: 0 0.5rem;
}

.price {
  padding: 0 0.5rem;
}

.quantity {
  padding: 0 0.5rem;
}

.total {
  font-weight: bold;
  color: green;
  padding: 0 0.5rem;
}

.actions {
  text-align: center;
  padding: 0 0.5rem;
}

.btn {
  font-size: 1.6rem;
  background: #ef476f;
}

.item {
  margin-bottom: 20px;
}
