<div class="grid" [ngClass]="{ completed: product.completed }">
  <div class="my-auto" style="font-weight: bold">
    <!-- <input
      type="checkbox"
      [checked]="product.completed"
      (change)="onToggleCheck(product)"
    /> -->
    {{ product.title | uppercase }}
  </div>
  <div class="price m-auto text-center">
    {{ product.price | currency }}
  </div>
  <div class="quantity m-auto text-center">
    {{ product.quantity }}
  </div>
  <div class="total m-auto text-center">
    {{ product.price * product.quantity | currency }}
  </div>
  <div class="text-center">
    <button class="btn btn-danger" (click)="onDelete(product)">
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
</div>
